# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# target folder
**target/

# screenshots folder
**screenshots/

# driver folder
**drivers/

# Java documentation
**javaDoc/

# inteliJ files
*.iml

# idea folder
**/idea/