<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="login-suite-1">

    <listeners>
        <listener class-name="com.gap.atpractice.listener.TestListener"/>
    </listeners>

    <!--Test Link Connection Parameters-->
    <parameter name="testLinkURL" value="https://testlink.wearegap.com/lib/api/xmlrpc/v1/xmlrpc.php"/>
    <parameter name="testLinkKey" value="2faefb2347f8d9726ff18b9c7c7ddc86"/>
    <parameter name="testProjectID" value="17728"/>
    <!--Test Plan Parameters-->
    <parameter name="testPlanID" value="22481"/>
    <!--Test Build Parameters-->
    <parameter name="testBuildID" value="62"/>
    <parameter name="testBuildName" value="Smoke"/>
    <parameter name="testBuildNotes" value="Test Build created by Manuel"/>

    <test name="smoke">

        <!--Test Plan Parameters-->
        <parameter name="planName" value="Plan Manuel"/>
        <parameter name="projectName" value="Automation Practice - Training"/>
        <parameter name="notes" value="Test plan created by Manuel"/>
        <parameter name="isActive" value="true"/>
        <parameter name="isPublic" value="true"/>

        <!--Test Suite Parameters-->
        <parameter name="testSuiteID" value="22465"/>
        <!--Test Case Parameters-->
        <parameter name="testCaseID_001" value="22466"/>
        <parameter name="testCaseName" value="Login with valid credentials"/>
        <parameter name="testCaseVersion" value="1"/>

        <!--Test Execution Parameters-->
        <parameter name="browserName" value="Chrome"/>
        <parameter name="useCapabilities" value="false"/>
        <parameter name="urlLogin" value="https://auto3ss-staging7.gradesfirst.com/"/>
        <parameter name="userName" value="rhunt"/>
        <parameter name="userPassword" value="pass1234"/>

        <groups>
            <run>
                <include name="test_001"/>
            </run>
        </groups>

        <classes>

            <!--TODO Create a separate test for testNG setup-->
            <!--Include only on first run!!!-->
            <class name="com.gap.atpractice.testSuites.TestLinkSetup">
                <methods>
                    <!--<include name="setupTestPlan"/>-->
                    <!--<include name="setupTestBuild"/>-->
                    <exclude name="setupTestPlan"/>
                    <exclude name="setupTestBuild"/>
                </methods>
            </class>

            <class name="com.gap.atpractice.testSuites.LoginTestNG">
                <methods>
                    <include name="loginSuccessful"/>
                    <exclude name="testUnsuccessful"/>
                </methods>
            </class>

            <!-- Test Factory -->
            <!--<class name="com.gap.atpractice.testSuites.testNGFactory.TestFactory">-->
            <!--</class>-->

        </classes>

    </test>
</suite>