<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="login-suite-1">

    <!-- WebDriver Parameters -->
    <parameter name="browserName" value="Chrome"/>
    <parameter name="useCapabilities" value="false"/>

    <!--*********** TEST LINK ********** -->
    <!-- TestLink Setup Flags-->
    <parameter name="runSetupFlag" value="false"/>
    <parameter name="runSetupPlanFlag" value="false"/>
    <parameter name="runSetupBuildFlag" value="false"/>
    <!--Test Link Connection Parameters-->
    <parameter name="testLinkURL" value="https://testlink.wearegap.com/lib/api/xmlrpc/v1/xmlrpc.php"/>
    <parameter name="testLinkKey" value="2faefb2347f8d9726ff18b9c7c7ddc86"/>
    <!-- Test Project Parameters-->
    <parameter name="projectName" value="Automation Practice - Training"/>
    <parameter name="testProjectID" value="17728"/>
    <!--Test Plan Parameters-->
    <parameter name="planName" value="Plan Manuel"/>
    <parameter name="notes" value="Test plan created by Manuel"/>
    <parameter name="isActive" value="true"/>
    <parameter name="isPublic" value="true"/>
    <!--Test Build Parameters-->
    <parameter name="testBuildName" value="Smoke"/>
    <parameter name="testBuildNotes" value="Build created by Manuel"/>
    <!--Test Suite Parameters-->
    <parameter name="testSuiteID" value="22465"/>
    <!--Test Case Parameters-->
    <parameter name="testCaseID_001" value="22466"/>
    <parameter name="testCaseName" value="Login with valid credentials"/>
    <parameter name="testCaseVersion" value="1"/>
    <!--*********** **** **** ********** -->

    <listeners>
        <listener class-name="com.gap.atpractice.listener.TestListener"/>
    </listeners>

    <test name="testLinkSetup">
        <classes>
            <class name="com.gap.atpractice.testSuites.TestLinkSetup"/>
        </classes>
    </test>

    <test name="smoke">

        <!--Test Execution Parameters-->
        <parameter name="urlLogin" value="https://auto3ss-staging7.gradesfirst.com/"/>
        <parameter name="userName" value="rhunt"/>
        <parameter name="userPassword" value="pass1234"/>

        <groups>
            <run>
                <include name="test_001"/>
                <!--<include name="test_002"/>-->
            </run>
        </groups>

        <classes>
            <class name="com.gap.atpractice.testSuites.LoginTestNG">
                <methods>
                    <include name="com.gap.atpractice.testSuites.LoginTestNG.testLoginPO"/>
                </methods>
            </class>

        </classes>

    </test>

    <!--<test name="factory">-->

    <!--<parameter name="browserName" value="Chrome"/>-->
    <!--<parameter name="urlLogin" value="https://auto3ss-staging7.gradesfirst.com/"/>-->
    <!--<parameter name="executions" value="10"/>-->

    <!--<groups>-->
    <!--<run>-->
    <!--&lt;!&ndash;<include name="test_003"/>&ndash;&gt;-->
    <!--<exclude name="test_003"/>-->
    <!--</run>-->
    <!--</groups>-->

    <!--<classes>-->
    <!--<class name="com.gap.atpractice.testSuites.testNGFactory.TestFactory">-->
    <!--</class>-->

    <!--</classes>-->

    <!--</test>-->
</suite>